#for3 {
    display: grid;
    grid-template-columns: 20% auto;
    width: 80%;
    height: 635px;
    background-color: gold;
    border: red 2px solid;
    margin-left: auto;
    margin-right: auto;
  }